.coin-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  display:flex;
  border-bottom: 2px solid rgb(156, 156, 156);
}

.coin-container:hover{
  background-color: rgb(19, 10, 53);
}



img{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.a{
  width: 20%;
  font-weight: bolder;
}

@media (max-width: 1000px){
  .coin-container{
    flex-direction: column;
    text-align: center;
  }
  img{
    margin-top: 5px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
  }

}